{% extends "main.html" %}

{%block content%}

	<body>
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					{% for i in articulos %}
						<div class="col-md-4 col-xs-6">
							<div class="shop">   
								<div>
									<a href="articulo/{{ i.id }}/"> {{ i.id }}>
										<img src="/media/{{i.foto}}" alt="foto" width="210px" height="200px" style="float: right">
									</a>
								</div>
								<div class="shop-body">
									<h3>{{ i.nombre }}<br>{{ i.precio }} € </h3>
							</div>
							</div>
						</div>
					
					{% endfor %}
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>

{%endblock content%}

