{% extends "main.html" %}

{% load cropping %}

{%block content%}

	<body>
		<div class="section" >
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" id="contenedor_producto">
					<!-- shop -->
					{% for i in articuloimagen %}
						<div class="col-md-4 col-xs-6" id="ejemplo">
							<div class="shop"> 
								<div class="shop-img">
									<img src="/media/{{i.imagenes_articulos.all.first.foto}}" alt="foto" width="210px" height="200px" style="float: right">
									<!--<a href="articulo/{{ i.id }}/"> {{ i.id }}>
										<img src="/media/{{i.imagenes_articulos.all.first.foto}}" alt="foto" width="210px" height="200px" style="float: right">
									</a>-->
								</div>
								<!--{% for e in i.imagenes_articulos.all %}
									<div>
										<a href="articulo/{{ i.id }}/"> {{ i.id }}>
											<img src="/media/{{e.foto}}" alt="foto" width="210px" height="200px" style="float: right">
										</a>
									</div>
								{% endfor %}-->

								<div class="shop-body">
									<h3>{{ i.nombre }}<br>{{ i.precio }}  </h3>
									<!--<a href="articulo/{{ i.id }}/" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>-->
									<a href="{% url 'detail' i.id %}" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
					
					{% endfor %}
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	</body>

{%endblock content%}



